.my-button.bold {
    font-weight: 700;
}
.my-button.inversion.bgcolor {
    background-color: white !important;
}

.my-button.emphasize.bgcolor {
    background-color: aquamarine !important;
}

.my-button.emphasize.fontcolor {
    color: black !important;
}